.add-user-btn {
    position: absolute;
    bottom: 56px;
    right: 56px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    tr {
        border-bottom: 1px solid rgba(0,0,0,0.4);
       /* &:last-child {
           /* border-bottom: 0; /*brauch ich eig in 2024 ned mehr. Vor 2022 war Material D. da wohl anders*/ /*
        }*/
        cursor: pointer;

        &:first-child {
            cursor: unset;
            &:hover {
                background-color: unset;
            }
            
        }

        td {
            height: 48px;
            &:first-child { /* first-child ist immer wenn man das 1. Element einer Gruppe stylen will. last-child das letzte*/
                padding-left: 16px;
            }
        }

        th {
            
            &:first-child {
                padding-left: 16px;
                
            }
            color: rgba(0,0,0,0.5);
            text-align: start;
        }

        &:hover {
            background-color: rgba(0,0,0,0.1);
        }
    }
    
    
}