/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mr-16 { /* A global margin-right 16 px style, if I need it for other components too, that's why it#s in global scss*/
    margin-right: 16px;
}

.full-width {
    width: 100%;
}